body{
    background-color: rgb(251, 251, 251);
    font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 7px #AB47BC;
}



.home{
    background: url(../images/fons-heijnsbroek-abstract-art-P3xlK67b42I-unsplash.jpg);
    background-size: cover;
}

.home-section {
    margin-bottom:50px ;
}



.home .content-wrapper {
    background: rgba(255, 255, 255, 0.9);
}

a{
    color: aliceblue;
}
a:hover{
    color: lightslategray;
    text-decoration: none;
}
.btn {
background:  plum;
color: black;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
padding: 7px;
line-height: 2;
border-radius: 5px;
}


.project-item{
    display: flow-root;
}

.project-item img {
    width: 360px;
    float: left;
    margin-right: 20px;
}






footer{
    background: #4FC3F7;
    color: black;
}



















